@import "./variables.scss";

.greeting {
  padding: 10px;
}
.whiteBoard {
  width: 80%;
  position: fixed;
  left: 10%;
  background-color: white;
  color: black;
  overflow: auto;
}

.greeting__name {
  font-size: 4em;
}
.greeting__details {
  color: $grey;
}

.link__home {
  color: black;
  font-size: 2rem;
  transition: 0.3s;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;

  svg {
    padding: 0.2rem;
  }

  &:visited {
    color: black;
  }

  &:hover {
    color: $green;
  }
}

@media only screen and (min-width: 700px) {
  .photo__home--web,
  .photo__home--mobile {
    height: 70vh;
    width: auto;
    margin-top: 20px;
  }

  .photo__home--mobile {
    display: none;
  }

  .whiteBoard {
    height: 80%;
    top: 10%;
  }
}

@media only screen and (max-width: 700px) {
  .photo__home--web {
    display: none;
  }

  .flex-home {
    flex-direction: column-reverse;
  }

  div.whiteBoard {
    position: relative;
  }
}
