@import "./variables.scss";

.whiteBoard {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  background-color: white;
  color: black;
}

.greeting__name {
  font-size: 4em;
}
.greeting__details {
  color: $grey;
}

.link__home {
  color: black;
  font-size: 22px;
  transition: 0.3s;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;

  svg {
    padding: 0.2rem;
  }

  &:visited {
    color: black;
  }

  &:hover {
    color: $green;
  }
}

.photo__home {
  height: 70vh;
  width: auto;
  margin-top: 20px;
}

@media only screen and (max-width: 700px) {
  .flex-home {
    flex-direction: column;
  }
}
